:root{
    /* font-size */
    --fs-sm:18px;
    --fs-md:20px;
    --fs-lg:24px;
    --fs-xl:36px;
    --fs-xxl:48px;
    --fs-3xl:64px;
    --fs-4xl:144px;
    /* color */
    --light-green:#D2DA60;
    --purple:#9003E5;
    --linear:rgba(145, 4, 229, 1);
    --blue:#010080;
}
.light-green{
    background-color: var(--light-green);
}
.text-purple{
    color: var(--purple);
}
.linear-color{
    color: var(--linear);
}
.text-blue{
    color: var(--blue);
}
.bg-blue{
    background-color: var(--blue);
}
.fs-18{
    font-size: var(--fs-sm);
}
.fs-20{
    font-size: var(--fs-md);
}
.fs-24{
    font-size: var(--fs-lg);
}
.fs-36{
    font-size: var(--fs-xl);
}
.fs-48{
    font-size: var(--fs-xxl);
}
.fs-64{
    font-size: var(--fs-3xl);
}
.fs-144{
    font-size: var(--fs-4xl);
}
@media (max-width:1200px) {
    :root{
    /* font-size */
    --fs-sm:18px;
    --fs-md:20px;
    --fs-lg:24px;
    --fs-xl:36px;
    --fs-xxl:37px;
    --fs-3xl:64px;
     --fs-4xl:110px;
    }
}
@media (max-width:992px) {
    :root{
    /* font-size */
    --fs-sm:16px;
    --fs-md:20px;
    --fs-lg:24px;
    --fs-xl:36px;
    --fs-xxl:44px;
    --fs-3xl:64px;
     --fs-4xl:80px;
    }
}
@media (max-width:768px) {
    :root{
    /* font-size */
    --fs-sm:18px;
    --fs-md:20px;
    --fs-lg:24px;
    --fs-xl:36px;
    --fs-xxl:35px;
    --fs-3xl:64px;
     --fs-4xl:60px;
    }
}
@media (max-width:576px) {
    :root{
    /* font-size */
    --fs-sm:18px;
    --fs-md:20px;
    --fs-lg:24px;
    --fs-xl:36px;
    --fs-xxl:24px;
    --fs-3xl:64px;
     --fs-4xl:38px;
    }
}